@model CategoryViewModel;
<div class="container">
        <div class="text-center">
            <h2 style="margin-right: 10px;" class="d-inline"><a href="/products">Products</a></h2>
            <h2 class="d-inline">Categories</h2>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-center">New Category</h4>
                <form class="form-group" asp-action="NewCategory" asp-controller="Home" method="POST">
                    <span asp-validation-for="NewCategory.Name"></span>
                    Name<input class="form-control" asp-for="NewCategory.Name">
                    <button style="margin-top: 20px;" class="btn btn-success" type="submit">Create</button>
                </form>
            </div>
            <div class="col">
                <h4 class="text-center">Existing Categories</h4>
                <ul>
                    @foreach (Category category in Model.AllCategories)
                    {
                        <li><a href="/categories/@category.CategoryId">@category.Name</a></li>
                    }
    
                </ul>
            </div>
        </div>
    </div>